{% extends 'base.html' %} {% block content %}
<div class="container-fluid mx-auto">
    <div class=" ">
        {% if images %}
        <div class="">
            {%for image in images%}
            <div class=" card border-0 m-4 p-0 ">
                <img src="{{image.image.url}} " class=" img-rounded" alt=" ">
                <div class="">
                    <h5 class="title ms-3 me-5 fs-4 p-4"><strong>Caption:</strong> {{image.name}}</h5>

                </div>
                <div class="iconic ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href="{% url 'comment' image.id %}"><i class="far fa-heart hearticon mx-auto" aria-hidden="true"></i></a>
                    </button>
                    <button class="btn btn-sm" type="submit">
                        <a href="{% url 'comment' image.id %}"><i class="far fa-comment hearticon mx-auto" aria-hidden="true"></i></a>
                    </button>
                </div>

                <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
                <span class="text-secondary ml-4 viewall">
                <a href="{% url 'comment' image.id %}">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
                <div class="allcomments mb-4">
                </div>

                {% endfor %} </div>
            {% else %}
            <p>No items to display</p>
            {% endif %}
        </div>
    </div>
</div> {% endblock %}